.main-content {
    padding: 0 20px;
}

.content-header {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.pag-title {
    font-size: 28px;
}

.table-container {
    overflow-x: auto;
}

.nav-links{
    gap: 15px;
}