<!DOCTYPE html>
<html lang="es">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Gestión de Devoluciones - Biblioteca Comunitaria</title>

 <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
 <link href="static/css/bootstrap.min.css" rel="stylesheet">
 <link href="Style.css" rel="stylesheet"> 
</head>

<body>
<div class="container my-5">
 <h2 class="mb-5 text-center">Módulo de Gestión de Devoluciones 👋</h2>
</div>
</body>
</html>