<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <h5>Sobre Nosotros</h5>
                <p>Somos una biblioteca dedicada a conectar mentes y construir puentes a través del conocimiento.</p>
                <p class="slogan">"Connecting Minds, Building Bridges"</p>
            </div>
            
            <div class="col-md-4 mb-4 mb-md-0">
                <h5>Ayuda y Soporte</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Política de Privacidad</a></li>
                    <li><a href="#">Términos de Servicio</a></li>
                    <li><a href="#">Contáctanos</a></li>
                </ul>
            </div>
            
            <div class="col-md-4 text-md-end">
                <h5>Síguenos</h5>
                <a href="#" class="social-icon" aria-label="Instagram"><i data-lucide="instagram"></i></a>
                <a href="#" class="social-icon" aria-label="Facebook"><i data-lucide="facebook"></i></a>
                <a href="#" class="social-icon" aria-label="Twitter"><i data-lucide="twitter"></i></a>
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col text-center">
                <p class="copyright">&copy; 2025 Biblioteca Comunitaria. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>