.navbar {
    background-color: var(--clr-ghost-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-brand {
    padding-left: var(--spacing-horizontal-container, 50px);
}

.navbar-brand img {
    height: 135px;
    min-width: 375px;
    transition: opacity 0.3s ease;
}

.navbar-brand img:hover {
    opacity: 0.9;
}

.nav-link {
    font-family: var(--ff-primary);
    font-weight: var(--fw-medium);
    font-size: 15px;
    color: var(--clr-gunmetal) !important;
    margin-right: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    display: inline-flex;
}

.nav-link:hover, .nav-link.active {
    color: var(--clr-gunmetal) !important;
    background-color: rgba(46, 52, 64, 0.05);
}

.nav-link[data-hint]::after {
    content: attr(data-hint);
    background-color: var(--clr-gunmetal);
    color: var(--clr-ghost-white);
    font-size: 10px;
    font-weight: var(--fw-regular);
    padding: 5px 10px;
    border-radius: 4px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1050;
}

.nav-link[data-hint]:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -5px);
}

.nav-link i, .nav-link svg {
    vertical-align: middle;
    margin-right: 8px;
    height: 30px;
    width: 30px;
    stroke: var(--clr-gunmetal);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-collapse {
    transition: all 0.3s ease-in-out;
    justify-content: flex-end;
}